<!-- Footer: social icons row + date + signature -->

<footer aria-label="Site Info" id="site-footer">
  <div id="footer-icons" class="d-flex align-items-center justify-content-center">
    {% for entry in site.data.contact %}
      {%- assign url = null -%}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- unless site[entry.type].username -%}{%- continue -%}{%- endunless -%}
          {%- capture url -%}https://{{ entry.type }}.com/{{ site[entry.type].username }}{%- endcapture -%}
        {% when 'email' %}
          {%- unless site.social.email -%}{%- continue -%}{%- endunless -%}
          {%- assign email = site.social.email | split: '@' -%}
          {%- capture url -%}javascript:void(location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@'))
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}
      {% if url %}
        <a href="{{ url }}" aria-label="{{ entry.type }}" class="footer-social" target="_blank" rel="noopener noreferrer">
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <p id="footer-signature">
    {{- '©' }} <time>{{ 'now' | date: '%Y' }}</time>
    {% if site.social.links %}
      <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
    {% else %}
      <em class="fst-normal">{{ site.social.name }}</em>.
    {% endif %}
  </p>
</footer>
