<!-- Personal info hero block at top of homepage -->

<section id="hero">
  <div id="hero-text">
    <p id="hero-bio">
      <strong id="hero-intro">Kia ora, I'm Fang Zhang, a software builder</strong><br>
      I'm from conventional industry with experiences in logistics, marine, and embedded development. Recently, I'm trying to teach myself how to build a simple LLM, just for fun.
      <br><br>
      And also, I'm also like reading and fishing around Auckland area, you probably will find some wired posts about that here.
      <br><br>
      Here is my <a href="https://www.linkedin.com/in/fang-zhang-nz/" target="_blank" rel="noopener noreferrer">LinkedIn profile</a>
    </p>
  </div>

  {% if site.avatar %}
    <img id="hero-avatar" src="{{ site.avatar }}" alt="{{ site.social.name }}">
  {% endif %}
</section>
